VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_AUTH_REDIRECT_URL=
VITE_APP_URL=https://learn.lexiland.cc
AGNES_API_KEY=
AGNES_MODEL=agnes-2.0-flash
AGNES_IMAGE_MODEL=agnes-image-2.1-flash
AGNES_IMAGE_SIZE=1024x768
